<a href="https://colab.research.google.com/github/Galzi1/DataDiscoveryNNProj/blob/master/project_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Knowledge Data Discovery and Neural Networks : Final Project

In this notebook we will do some basic data analysis in python 

## Clarifications
1. The same score for the project will be given to each member of the team.  
2. When you are asked to provide a verbal solution - write it concisely and short (a couple of sentences).
3. Data decription can be found [here](https://archive.ics.uci.edu/ml/datasets/adult)

# 1. Imports

In [1]:
# add more packages in this section
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# 2. Exploratory data analysis

In [22]:
# data = pd.read_csv("data/adult.data", header = None)
data = pd.read_csv("https://raw.githubusercontent.com/Galzi1/DataDiscoveryNNProj/master/data/adult.data", header = None)
cols = ['age', 'workclass', 'fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain', 'capital_loss'
    ,'hours_per_week','native_country','y']
data.columns = cols

## 2.1 Row and column count
* How many rows and columns/features we have in the dataset?

In [11]:
### YOUR CODE HERE
rows_num = data.shape[0]
cols_num = data.shape[1]

print(f'Rows number = {rows_num}, Columns number = {cols_num}')
### END YOUR CODE

Rows number = 32561, Columns number = 15

## 2.2 Missing values proporiton
* For each feature - what is the percantage of missing values in it?
* Describe one method to fill missing data (data imputation)

If there will be many missing values then we will need to take it in consideration later

In [25]:
### YOUR CODE HERE
# 1)
print(data.isna().sum())
# 2)
for c in data.columns:
  if not np.issubdtype(data[c].dtype, np.number):
    print(f'Column = {c}; unique values = {sorted(data[c].unique())}')
# 3)



### END YOUR CODE

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
y                 0
dtype: int64
Column = workclass; unique values = [' ?', ' Federal-gov', ' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay']
Column = education; unique values = [' 10th', ' 11th', ' 12th', ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' Assoc-acdm', ' Assoc-voc', ' Bachelors', ' Doctorate', ' HS-grad', ' Masters', ' Preschool', ' Prof-school', ' Some-college']
Column = marital_status; unique values = [' Divorced', ' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Never-married', ' Separated', ' Widowed']
Column = occupation; unique values = [' ?', ' Adm-clerical', ' Armed-Forces', ' Craft-repair', ' Exec-managerial', ' Farming-fishing', ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service', ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales', ' Tech-support', ' Transport-moving']
Column = relationship; unique values = [' Husband', ' Not-in-family', ' Other-relative', ' Own-child', ' Unmarried', ' Wife']
Column = race; unique values = [' Amer-Indian-Eskimo', ' Asian-Pac-Islander', ' Black', ' Other', ' White']
Column = sex; unique values = [' Female', ' Male']
Column = native_country; unique values = [' ?', ' Cambodia', ' Canada', ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador', ' El-Salvador', ' England', ' France', ' Germany', ' Greece', ' Guatemala', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong', ' Hungary', ' India', ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico', ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines', ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South', ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States', ' Vietnam', ' Yugoslavia']
Column = y; unique values = [' <=50K', ' >50K']

#### YOUR VERBAL SOLUTION HERE



#### END YOUR VERBAL SOLUTION HERE

## 2.3 Categorical features

* Which of the features are categorical type? for each feature like that, how many unique values it has?

In [ ]:
### YOUR CODE HERE



### END YOUR CODE

## 2.4 Feature distribution

* Plot the distribution of each feature
* Is our data set balanced (do we have the same amount of <=50K and >50K in the label?)

In [ ]:
### YOUR CODE HERE



### END YOUR CODE

## 2.5 Correlation plot

* Plot a correlation plot between the numeric features

In [ ]:
### YOUR CODE HERE



### END YOUR CODE

## 2.6 Important features

* Try to understand which features will be important for the prediction and back it up with a plot or two that shows it.

It is an open question and there are many ways to approach it.

In [ ]:
### YOUR CODE HERE



### END YOUR CODE

#### YOUR VERBAL SOLUTION HERE



#### END YOUR VERBAL SOLUTION HERE